
@font-face {
  font-family: GlyphWorld;
  src: url(fonts/GlyphWorld-Meadow.otf);
}

body {
  position:relative;
  overflow: none;


}

img {
  transition: transform .7s ease-in-out;
}
img:hover {
  transform: rotate(360deg);
}

b{


}

#text{
  
  font-size:40px;
  font-family: GlyphWorld;
  line-height: 30px;
  color:black;
  align-items: center;

}

.title{
    position: relative;
    left: 364px;
    top: 371px;
    width: 879px;
   border-style: solid;
  border-color: red;
  font-size: 50px;
}

.clear{
  position: relative;
  width: 130px;
  margin: 20px;
  top: 700px;
   border-style: solid;
  border-color: blue;
  z-index: 100;
  cursor: pointer;
}

.shuffle{
  position: relative;
  width: 170px;
  top:600px;
  left: 1450px;
  margin: 20px;
  border-style: solid;
  border-color: green;
  z-index: 100;
  cursor: pointer;
}

#canvas{
  position: fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;

}

::selection {
  background: none; 
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .title{
    font-size:30px;
    position: relative;
    left: 20px;
    width: 530px;
  }

  .clear{
    font-size: 25px;
    position: relative;
    width: 100px;
  }

  .shuffle{
    font-size: 25px;
    position: relative;
    width: 110px;
    left: 410px;
  }




