
body, html {
  padding: 0; 
  margin: 0;

}

@font-face {
  font-family: GlyphWorld;
  src: url(fonts/GlyphWorld-Meadow.otf);
}


img {
  transition: transform .7s ease-in-out;
}

img:hover {
  transform: rotate(360deg);
}

#text{
  
  font-size:35pt;
  font-family: GlyphWorld;
  line-height: 30px;
  color:black;

  direction: flex; 
  flex-direction: row;
  align-items: center;

}

.title{
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 18em;
    font-size: 38pt;
    display: fixed;
    text-align: center;
}

.clear{
  display: inline-block;
  position: fixed;
  bottom: 50px;
  left: 30px;
  z-index: 100;
  cursor: pointer;
}

.shuffle{
  display: inline-block;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 100;
  cursor: pointer;
}

#canvas{
  position: fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;

}

::selection {
  background: none; 
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .title{
    font-size:28pt;
    width: 400px;
    text-align: center

  }

  .clear{
    font-size: 25px;
}

  .shuffle{
    font-size: 25px;
  }




